<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Spotify Tool{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Spotify Tool</h1>
      <nav>
        <a href="{{ url_for('index') }}">Home</a>
        {% if not session.get('token_info') %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('profile') }}">Profile</a>
        {% endif %}
      </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <p>2026 Spotify Tool</p>
    </footer>
  </body>
</html>
